# HW02

## Q1

In [2]:
import numpy as np
import pandas as pd
chronic = pd.read_csv(r'/Users/liaonicole/Desktop/Liao_YunXuan/hw02/data/U.S._Chronic_Disease_Indicators__CDI_.csv')
chronic.head()

/Users/liaonicole/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2014,AK,Alaska,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,2,CAN,CAN10_2,AVGANNNMBR,GENDER,GENF,NaN,NaN,NaN,NaN
1,2010,2014,AK,Alaska,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,2,CAN,CAN10_2,AVGANNNMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2010,2014,AZ,Arizona,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,4,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
3,2008,2012,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
4,2009,2013,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN

In [11]:
chronic['Question'].unique()

array(['Cancer of the oral cavity and pharynx, mortality',
       'Cancer of the prostate, mortality',
       'Invasive cancer (all sites combined), mortality',
       'Cancer of the female breast, mortality', 'Melanoma, mortality',
       'Chronic liver disease mortality', 'Asthma mortality rate',
       'Mortality with end-stage renal disease',
       'Mortality from total cardiovascular diseases',
       'Mortality from diseases of the heart',
       'Mortality from heart failure', 'Life expectancy at age 65 years',
       'Alcohol use before pregnancy',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma', 'Hospitalization for stroke',
       'Hospitalization for acute myocardial infarction',
       'Amputation of a lower extremity attributable to diabetes',
       'Hospitalization with diabetes as a listed diagnosis',
       'Invasive cancer (all sites combined), incidence',
       'Invasive cancer of the cervix, incidence',
       'Cancer of the colon and rectum (colorectal), incidence',
       'Quit attempts in the past year among current smokers',
       'Cancer of the lung and bronchus, incidence',
       'Current cigarette smoking among youth',
       'Current smokeless tobacco use among youth',
       'Heavy drinking among adults aged >= 18 years',
       'Heavy drinking among women aged 18-44 years',
       'Arthritis among adults aged >= 18 years',
       'Arthritis among adults aged >= 18 years who are obese',
       'Arthritis among adults aged >= 18 years who have diabetes',
       'Activity limitation due to arthritis among adults aged >= 18 years who have doctor-diagnosed arthritis',
       'Physical inactivity among adults aged >= 18 years with arthritis',
       'Severe joint pain due to arthritis among adults aged >= 18 years who have doctor-diagnosed arthritis',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years',
       'Mammography use among women aged 50-74 years',
       'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years',
       'Prevalence of chronic kidney disease among adults aged >= 18 years',
       'Cholesterol screening among adults aged >= 18 years',
       'High cholesterol prevalence among adults aged >= 18 years',
       'Awareness of high blood pressure among adults aged >= 18 years',
       'Awareness of high blood pressure among women aged 18-44 years',
       'Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course',
       'Prevalence of diagnosed diabetes among adults aged >= 18 years',
       'Diabetes prevalence among women aged 18-44 years',
       'Dilated eye examination among adults aged >= 18 years with diagnosed diabetes',
       'Recent mentally unhealthy days among adults aged >= 18 years',
       'At least 14 recent mentally unhealthy days among women aged 18-44 years',
       'Obesity among adults aged >= 18 years',
       'All teeth lost among adults aged >= 65 years',
       'Six or more teeth lost among adults aged >= 65 years',
       'No tooth loss among adults aged 18-64 years',
       'Current smoking among adults aged >= 18 years',
       'Current cigarette smoking among women aged 18-44 years',
       'Prevalence of 2 or more chronic conditions among Medicare-enrolled persons aged >= 65 years',
       'Disability among adults aged >= 65 years', 'Poverty',
       'Presence of regulations pertaining to serving fruit in early care and education settings',
       'High school completion among women aged 18-44 years',
       'Proportion of the population protected by a comprehensive smoke-free policy prohibiting smoking in all indoor areas of workplaces and public places, including restaurants and bars',
       'Presence of regulations pertaining to avoiding sugar in early care and education settings',
       'Secondary schools that have a comprehensive tobacco-free school policy in place',
       'High school completion among adults aged 18-24 years',
       'Presence of regulations pertaining to serving vegetables in early care and education settings',
       'Gini Index of income inequality',
       'Live births occurring at Baby Friendly Facilities',
       'Amount of alcohol excise tax by beverage type (distilled spirits)',
       'Amount of alcohol excise tax by beverage type (wine)',
       'Secondary schools that allow community-sponsored use of physical activity facilities by youth outside of normal school hours',
       'Amount of alcohol excise tax by beverage type (beer)',
       'Secondary schools that offer less healthy foods as competitive foods',
       'Secondary schools that allow students to purchase sports drinks',
       'Per capita alcohol consumption among persons aged >= 14 years',
       'Secondary schools that allow students to purchase soda or fruit drinks',
       'Presence of regulations pertaining to screen time in early care and education settings',
       'State child care regulation supports onsite breastfeeding',
       'Prevalence of gestational diabetes',
       'Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis among Medicare-eligible persons aged >= 65 years',
       'Poverty among women aged 18-44 years',
       'Hospitalization for heart failure among Medicare-eligible persons aged >= 65 years',
       'Hospitalization for hip fracture among Medicare-eligible persons aged >= 65 years',
       'Hospitalization for chronic obstructive pulmonary disease as any diagnosis among Medicare-eligible persons aged >= 65 years',
       'Cancer of the female cervix, mortality',
       'Cancer of the colon and rectum (colorectal), mortality',
       'Cancer of the lung and bronchus, mortality',
       'Oral health services at Federally Qualified Health Centers',
       'Dental visits among children and adolescents aged 1-17 years',
       'Preventive dental visits among children and adolescents aged 1-17 years',
       'Census tracts with healthier food retailers within ï¿½ mile of boundary',
       'Mortality with chronic obstructive pulmonary disease as underlying cause among adults aged >= 45 years',
       'Mortality with chronic obstructive pulmonary disease as underlying or contributing cause among adults aged >= 45 years',
       'Mortality from coronary heart disease',
       'Mortality from cerebrovascular disease (stroke)',
       'Mortality due to diabetes reported as any listed cause of death',
       'Mortality with diabetic ketoacidosis reported as any listed cause of death',
       'Premature mortality among adults aged 45-64 years',
       'Receiving formula supplementation within the first 2 days of life among breastfed infants',
       'Infants breastfed at 6 months', 'Life expectancy at birth',
       'Postpartum checkup', 'Folic acid supplementation',
       'Preventive dental care before pregnancy',
       'Cigarette smoking before pregnancy',
       'Emergency department visit rate for chronic obstructive pulmonary disease as first-listed diagnosis',
       'Health insurance coverage before pregnancy',
       'Prevalence of pre-pregnancy diabetes',
       'Postpartum depressive symptoms', 'Pre-pregnancy hypertension',
       'Amount of tobacco product excise tax',
       'Emergency department visit rate for chronic obstructive pulmonary disease as any diagnosis',
       'Sale of cigarette packs',
       'States that allow stronger local tobacco control and prevention laws',
       'States with strong polices that require retail licenses to sell tobacco products',
       'Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis',
       'Hospitalization for chronic obstructive pulmonary disease as any diagnosis',
       'Percent tobacco revenue to fund at CDC recommended level',
       'Invasive cancer of the oral cavity or pharynx, incidence',
       'Invasive cancer of the prostate, incidence',
       'Invasive cancer of the female breast, incidence',
       'Alcohol use among youth', 'Invasive melanoma, incidence',
       'Incidence of treated end-stage renal disease',
       'Binge drinking prevalence among youth',
       'Incidence of treated end-stage renal disease attributed to diabetes',
       'Number of farmers markets per 100,000 residents',
       'Farmers markets that accept Supplemental Nutrition Assistance Program (SNAP) benefits',
       'Population served by community water systems that receive fluoridated drinking water',
       'Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons',
       'Mean maternity practices in infant nutrition care (mPINC) score',
       'Binge drinking prevalence among adults aged >= 18 years',
       'Healthy weight among high school students',
       'Participation in daily school physical education classes among high school students',
       'Meeting aerobic physical activity guidelines among high school students',
       'Television viewing among high school students',
       'Computer use among high school students',
       'Overweight or obesity among high school students',
       'Soda consumption among high school students',
       'Median daily frequency of vegetable consumption among high school students',
       'Obesity among high school students',
       'Median daily frequency of fruit consumption among high school students',
       'Local authority to regulate alcohol outlet density',
       'Commercial host (dram shop) liability laws',
       'Binge drinking prevalence among women aged 18-44 years',
       'Binge drinking frequency among adults aged >= 18 years who binge drink',
       'Binge drinking intensity among adults aged >= 18 years who binge drink',
       'Arthritis among adults aged >= 18 years who have heart disease',
       'Work limitation due to arthritis among adults aged 18-64 years who have doctor-diagnosed arthritis',
       'Fair or poor health among adults aged >= 18 years with arthritis',
       'Adults aged >= 18 years with arthritis who have taken a class to learn how to manage arthritis symptoms',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Papanicolaou smear use among adult women aged 21-65 years',
       'Recent Papanicolaou smear use among women aged 21-44 years',
       'Prevalence of chronic obstructive pulmonary disease among adults >= 18',
       'Prevalence of chronic obstructive pulmonary disease among adults >= 45 years',
       'Prevalence of current smoking among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
       'Prevalence of current smoking among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
       'Taking medicine for high blood pressure control among adults aged >= 18 years with high blood pressure',
       'Prevalence of activity limitation among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
       'Prevalence of activity limitation among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
       'Influenza vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke',
       'Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes',
       'Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes',
       'Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes',
       'Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes',
       'Foot examination among adults aged >= 18 years with diagnosed diabetes',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
       'Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes',
       'Influenza vaccination among noninstitutionalized adults aged >= 18 years',
       'No leisure-time physical activity among adults aged >= 18 years',
       'Meeting aerobic physical activity guidelines for substantial health benefits among adults aged >= 18 years',
       'Meeting aerobic physical activity guidelines for substantial health benefits and for muscle-strengthening activity among adults aged >= 18 years',
       'Meeting aerobic physical activity guidelines for additional and more extensive health benefits among adults aged >= 18 years',
       'Overweight or obesity among adults aged >= 18 years',
       'Overweight or obesity among women aged 18-44 years',
       'Healthy weight among adults aged >= 18 years',
       'Median daily frequency of vegetable consumption among adults aged >= 18 years',
       'Proportion of older adults aged >= 65 years who are up to date on a core set of clinical preventive services',
       'Median daily frequency of fruit consumption among adults aged >= 18 years',
       'Proportion of older adults aged 50-64 years who are up to date on a core set of clinical preventive services',
       'Visits to dentist or dental clinic among adults aged >= 18 years',
       'Current lack of health insurance among adults aged 18-64 years',
       'Fair or poor self-rated health status among adults aged >= 18 years',
       'Current health care coverage among women aged 18-44 years',
       'Recent physically unhealthy days among adults aged >= 18 years',
       'Self-rated health status among women aged 18-44 years',
       'Recent activity limitation among adults aged >= 18 years',
       'Prevalence of sufficient sleep among adults aged >= 18 years',
       'Timeliness of routine health care checkup among women aged 18-44 years',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years who smoke',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years who smoke',
       'Current smokeless tobacco use among adults aged >= 18 years'],
      dtype=object)

In [12]:
crudePrevalence=chronic[chronic['DataValueType']=='Crude Prevalence']
question=crudePrevalence[(crudePrevalence['Question']=='Poverty')|(crudePrevalence['Question']=='Binge drinking prevalence among adults aged >= 18 years')]
df=question[(question['StratificationCategory1']=='Gender')|(question['StratificationCategory1']=='Overall')]
df.head()
df2=df.drop(df[(df['StratificationCategory1'] == 'Gender')&(df['Question'] == 'Poverty')].index)
df2.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
340,2015,2015,AL,Alabama,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,1,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
369,2014,2014,TX,Texas,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,48,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
379,2011,2011,NM,New Mexico,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,35,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
473,2011,2011,WY,Wyoming,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,56,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
489,2011,2011,ND,North Dakota,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,38,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

## Q2

In [23]:

df2Wide=df2.pivot(['LocationDesc','LocationAbbr','YearStart'],columns=['Question','Stratification1'],values='DataValue')
df2Wide=df2Wide.reset_index()

       state stateabb  year poverty binge_female binge_male binge_all
0    Alabama       AL  2010      19          NaN        NaN       NaN
1    Alabama       AL  2011      19          7.9       20.2      13.7
2    Alabama       AL  2012      19            7       18.2      12.3
3    Alabama       AL  2013    18.7          6.5       16.3      11.2
4    Alabama       AL  2014    19.3          6.8       17.9        12
..       ...      ...   ...     ...          ...        ...       ...
543  Wyoming       WY  2015    11.1         10.5       21.3      16.0
544  Wyoming       WY  2016    11.3         12.5       24.2      18.4
545  Wyoming       WY  2017    11.3         13.1       22.8      18.0
546  Wyoming       WY  2018    11.1           10       24.6      17.4
547  Wyoming       WY  2019     NaN         12.9       22.4      17.7

[548 rows x 7 columns]

## Q3

In [ ]:
df2Wide.columns=['state','stateabb','year','poverty','binge_female','binge_male','binge_all']
df2Wide

In [18]:
df2Wide.shape

(548, 7)

In [19]:
df2Wide.describe

<bound method NDFrame.describe of        state stateabb  year poverty binge_female binge_male binge_all
0    Alabama       AL  2010      19          NaN        NaN       NaN
1    Alabama       AL  2011      19          7.9       20.2      13.7
2    Alabama       AL  2012      19            7       18.2      12.3
3    Alabama       AL  2013    18.7          6.5       16.3      11.2
4    Alabama       AL  2014    19.3          6.8       17.9        12
..       ...      ...   ...     ...          ...        ...       ...
543  Wyoming       WY  2015    11.1         10.5       21.3      16.0
544  Wyoming       WY  2016    11.3         12.5       24.2      18.4
545  Wyoming       WY  2017    11.3         13.1       22.8      18.0
546  Wyoming       WY  2018    11.1           10       24.6      17.4
547  Wyoming       WY  2019     NaN         12.9       22.4      17.7

[548 rows x 7 columns]>

In [20]:
df2Wide.to_csv(r'/Users/liaonicole/Desktop/Liao_YunXuan/hw02/data/binge_clean.csv')

## Q4

In [25]:
df22019=df2Wide[df2Wide['year']==2019]
df22019.head()

         state stateabb  year poverty binge_female binge_male binge_all
9      Alabama       AL  2019     NaN          8.9       16.4      12.4
19      Alaska       AK  2019     NaN         11.1       20.3      15.9
29     Arizona       AZ  2019     NaN          9.3         21      15.1
39    Arkansas       AR  2019     NaN          9.5       18.2      13.7
49  California       CA  2019     NaN         11.9       21.9      16.8

In [34]:
df22019['binge_all']=df22019['binge_all'].astype('float')
df22019.nlargest(10, "binge_all")

<ipython-input-34-478c3f63bc1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df22019['binge_all']=df22019['binge_all'].astype('float')

,state,stateabb,year,poverty,binge_female,binge_male,binge_all
89,District of Columbia,DC,2019,NaN,22.3,27.8,24.9
358,North Dakota,ND,2019,NaN,14.9,29.2,22.2
537,Wisconsin,WI,2019,NaN,16.5,27.7,21.9
168,Iowa,IA,2019,NaN,16.5,27,21.6
438,South Dakota,SD,2019,NaN,16.1,26.4,21.2
288,Nebraska,NE,2019,NaN,15.7,26.1,20.9
248,Minnesota,MN,2019,NaN,16.3,25.3,20.7
278,Montana,MT,2019,NaN,14.7,26.7,20.7
148,Illinois,IL,2019,NaN,14.4,25.8,19.9
228,Massachusetts,MA,2019,NaN,15.4,23.2,19.1

## Q5

In [47]:
growthrate=df2Wide.dropna(subset=['binge_all'])
growthratebystate_first=growthrate.groupby('state').first().drop(columns=["poverty","binge_female","binge_male"])

growthratebystate_last=growthrate.groupby('state').last().drop(columns=["poverty","binge_female","binge_male"])

growthratebystate_first.head()

           stateabb  year binge_all
state
Alabama          AL  2011      13.7
Alaska           AK  2011      20.8
Arizona          AZ  2011      17.6
Arkansas         AR  2011      14.1
California       CA  2011      18.6

In [48]:
growthratebystate_last.head()

           stateabb  year binge_all
state
Alabama          AL  2019      12.4
Alaska           AK  2019      15.9
Arizona          AZ  2019      15.1
Arkansas         AR  2019      13.7
California       CA  2019      16.8

In [56]:
growthratebystate=pd.merge(growthratebystate_first,growthratebystate_last, on= ["state"], how="left")
growthratebystate['binge_all_y']=growthratebystate['binge_all_y'].astype('float')
growthratebystate['binge_all_x']=growthratebystate['binge_all_x'].astype('float')
growthratebystate['year_y']=growthratebystate['year_y'].astype('float')
growthratebystate['year_x']=growthratebystate['year_x'].astype('float')
growthratebystate['average annual growth']=(growthratebystate['binge_all_y']-growthratebystate['binge_all_x'])/(growthratebystate['year_y']-growthratebystate['year_x'])
growthratebystate.head()

,stateabb_x,year_x,binge_all_x,stateabb_y,year_y,binge_all_y,average annual growth
state,,,,,,,
Alabama,AL,2011.0,13.7,AL,2019.0,12.4,-0.1625
Alaska,AK,2011.0,20.8,AK,2019.0,15.9,-0.6125
Arizona,AZ,2011.0,17.6,AZ,2019.0,15.1,-0.3125
Arkansas,AR,2011.0,14.1,AR,2019.0,13.7,-0.0500
California,CA,2011.0,18.6,CA,2019.0,16.8,-0.2250

In [58]:
growthratebystate_top=growthratebystate.nlargest(5, columns="average annual growth")
growthratebystate_top

,stateabb_x,year_x,binge_all_x,stateabb_y,year_y,binge_all_y,average annual growth
state,,,,,,,
Tennessee,TN,2011.0,10.0,TN,2019.0,14.4,0.5500
Louisiana,LA,2011.0,16.1,LA,2019.0,18.9,0.3500
West Virginia,WV,2011.0,10.1,WV,2019.0,12.4,0.2875
Oregon,OR,2011.0,16.4,OR,2019.0,17.5,0.1375
South Carolina,SC,2011.0,15.4,SC,2019.0,15.9,0.0625

In [59]:
growthratebystate_bottom=growthratebystate.nsmallest(5, columns="average annual growth")
growthratebystate_bottom

,stateabb_x,year_x,binge_all_x,stateabb_y,year_y,binge_all_y,average annual growth
state,,,,,,,
New Jersey,NJ,2011.0,18.2,NJ,2018.0,13.5,-0.671429
Alaska,AK,2011.0,20.8,AK,2019.0,15.9,-0.612500
Maryland,MD,2011.0,18.0,MD,2019.0,13.7,-0.537500
Hawaii,HI,2011.0,21.5,HI,2019.0,17.3,-0.525000
Oklahoma,OK,2011.0,16.5,OK,2019.0,12.7,-0.475000